.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #333;
  height: 60px;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #e4e4e4;
}

.navbar-logo {
  font-size: 24px;
}

.navbar-items a {
  color: #333;
  text-decoration: none;
  margin-right: 20px;
}

@media (max-width: 768px) {
  /* Add any responsive styles here */
}

.navbar-items a:hover {
  border-radius: 10px;
  padding: 8px;
  background-color: lightgrey;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.rating {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.rating-square {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-right: 5px;
}

.rating-square-purple {
  background-color: #fe643d;
}

.star {
  font-size: 20px;
  color: white;
}

.one-business-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.one-business-page h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.business-hours {
  margin-bottom: 20px;
}

.business-hours li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.business-hours li span {
  font-weight: bold;
}

.categories {
  margin-bottom: 20px;
}

.categories ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.categories li {
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.business-reviews {
  margin-bottom: 20px;
  margin-top: 20px;
}

.business-reviews h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.review-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.business-reviews p {
  margin-bottom: 5px;
}

.review-date {
  font-style: italic;
  margin-left: 0.5rem;
}

.tip-date {
  font-style: italic;
  margin-bottom: 5px;
}
.icon-container {
  display: flex;
  justify-content: left;
  margin-top: 10px;
}

.icon-wrapper {
  display: inline-block;
  margin: 0 10px;
  border-radius: 10%;
  background-color: #ddd;
  padding: 5px;
}

.text {
  margin-left: 0.5rem;
}

.margin {
  margin-bottom: 5px;
}

.review-name {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-style: solid;
}

.user-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friend-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.friend-item {
  display: inline-block;
  margin: 10px;
}

.friend-name {
  text-align: center;
}
